{% extends "layouts/base.html" %}

{% block head %}
{%endblock%}

{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">
    <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/>
        <h1 class="display-4">Welcome, {{user.username|default:'Guest'}}</h1>
        <p class="lead">
           Something profound goes here.
        </p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
            {% endif %}
        </p>
    </div>

{% endblock content %}
